<div class="about-hero-wrap">
  <div class="about-hero">
    <div class="about-hero-a">
      <img src="{{ imgHero3 }}" alt="for hero">
    </div>
    <div class="about-hero-b">
        <img src="{{ imgHero1 }}" alt="for hero">
    </div>
    <div class="about-hero-b2">
        <img src="{{ imgHero2 }}" alt="for hero">
    </div>
    <div class="about-hero-c">
      <div class="abuot-c-wrap">
          <p>Her</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus totam nihil. Explicabo voluptatem ab provident dolorum quo quasi exercitationem recusandae similique quis expedita debitis adipisci, deserunt, consequatur vitae ad!</p>
      </div>
    </div>
  </div>
</div>